---
import Layout from "../layouts/Layout.astro";
const randomBoxes: { height: number; width: number; color: string, left: number; speed: number }[] = new Array(100).fill(0).map((_, i) => ({
  height: Math.random() * 10 + 100,
  width: Math.random() * 10 + 100,
  left: Math.random() * 300,
  speed: Math.random() - 0.5,
  color: `hsl(${Math.random() * 360}, 100%, 50%)`,
}));
---

<Layout calls="parallax">
  <main>
    <h1>Welcome to Main Page</h1>
    <img src="/design/island.png" alt="island" class="island" data-scroll-parallax="-0.5" />
    {randomBoxes.map((_, i) => (
      <div class="box" style={`height:${_.height}px;width:${_.width}px;background-color:${_.color};margin-left:${_.left}px`} data-scroll-parallax={_.speed}>
        <h2>Box {i}</h2>
      </div>
    ))}
  </main>
</Layout>

<style>
  .island {
    max-width: 15rem;
    max-height: 15rem;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
</style>
