---
import Grid from "./Grid.astro";
import Smoke from "./Smoke.astro";
import Gears from "../components/gears/gears.svelte";
import Scroll from "./Scroll.astro";
import { navigation } from "./Nav.astro";
import './global.css';

export interface Props {
  horizontalScroll?: boolean;
  calls?: string;
}

const { horizontalScroll, calls } = Astro.props;
const currentNavItem = navigation.find((item) => item.url === Astro.url.pathname);
const title = currentNavItem ? currentNavItem.warmTitle : "Error";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body>
    <Smoke />
    <Gears />
    <Grid title={title}>
      <slot name="before" />
      <Scroll isHorizontal={horizontalScroll} calls={calls}>
        <slot />
      </Scroll>
      <slot name="after" />
    </Grid>
  </body>
</html>
