---
import Grid from "./Grid.astro";
import Smoke from "./Smoke.astro";
import Gears from "../components/gears/gears.svelte";
import { Spa } from "astro-spa";
import Scroll from "./Scroll.astro";

export interface Props {
  title: string;
  horizontalScroll?: boolean;
}

const { title, horizontalScroll } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Smoke />
    <Grid title={title}>
      <Scroll isHorizontal={horizontalScroll}>
        <slot />
      </Scroll>
    </Grid>
    <Gears client:only />
    <Spa
      defaultAnimation={false}
      containerSelector={"#page-content"}
      progressBar={false}
    />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --bg: #15141a;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: var(--bg);
    color: #fff;
  }
  html,
  body {
    height: 100vh;
  }
</style>
