---
import Grid from "./Grid.astro";
import Smoke from "./Smoke.astro";
import Gears from "../components/gears/gears.svelte";
import { Spa } from "astro-spa";
import Scroll from "./Scroll.astro";
import { navigation } from "./Nav.astro";
import './global.css';

export interface Props {
  horizontalScroll?: boolean;
}

const { horizontalScroll } = Astro.props;
const currentNavItem = navigation.find((item) => item.url === Astro.url.pathname);
const title = currentNavItem ? currentNavItem.warmTitle : "Error";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <Smoke /> -->
    <Gears />
    <Grid title={title}>
      <slot name="before" />
      <Scroll isHorizontal={horizontalScroll}>
        <slot />
      </Scroll>
      <slot name="after" />
    </Grid>
    <Spa
      defaultAnimation={false}
      progressBar={false}
      containerSelector={"#page-content"}
    />
  </body>
</html>
